
# Python
__pycache__/
*.py[cod]
*.pyc
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/
*.spec
*.toc

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Windows
Thumbs.db
*.log

# Environment
.env
